
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    color:#fff;
    background-color: rgb(200, 235, 235);
}
.container{
    width:500px;
    height:300px;
   
    border-radius: 30px;
    position: relative;
    background-color: #111;
}
.wrapper{
    padding:20px;
}
.heading{
    position: absolute;
    top:25px;
    font-size: 12px;
    left:80px;
    font-family: 'Poppins', sans-serif;
   

}
.chip{
    position: absolute;
    right:30px;
    top:25px;
}
.chip img{
    width:100px;
    height:50px;
    border: 1px solid #111;
    border-radius: 10px;
}
.card-number
{
    font-size: 20px;
    position: absolute;
    top:50%;
}
.card-number p{
    margin-bottom: 15px;
}
.card-number span{
    font-size: 25px;
 

}
.owner-name{
    position: absolute;
    bottom: 10%;
    font-size: 20px;
}
.expire-info{
    position: absolute;
    right:30px;
    bottom:15%;
}
.expire-info p{
    margin-bottom: 12px;
}